body {
  background-color: gray;
}


.block {
  background-color: rgba(139, 135, 135, .8);
  margin: auto;
  margin-top: 5%;
  width: 25%;
  padding: 3vw 4vw;
  text-align: center;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.6);
}


h2 {
  font-family: sans-serif;
}


input {
  margin-top: 2vh;
}
