
.message {
  background-color: rgba(139, 135, 135, .8);
  margin: auto;
  margin-top: 5%;
  width: 50%;
  padding: 3vw 4vw;
  text-align: center;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.6);
}

.error {
  background-color: rgba(180, 105, 105, .8);
  margin: auto;
  margin-top: 5%;
  width: 50%;
  padding: 3vw 4vw;
  text-align: center;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.6);
}
