* {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

.bg {
  z-index: -1000000;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: auto;
  position: fixed;
  top: 8vw;
  left: 0px;
  filter: blur(5px) brightness(70%);
}



.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0rem;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 180px;
  padding: .5rem 0;
  margin: .125rem 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.dropdown-divider {
  background-color: #e1e4e8;
  height: 1px;
  margin: 8px 1px;
}

.dropdown-item {
  display: block;
  text-decoration: none;
  line-height: 1.5;
  color: #212529;
  padding: 4px 10px 4px 15px;
}

.dropdown-menu.show {
  display: block;
}


.button {
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: #072DD7;
  padding: 1vw;
  border: solid black;
  border-width: .1vw;
  font-size: 1.3vw;
}

.button:focus,
.button:hover {
  background-color: #051666;
}


input[type="text"], input[type="password"], input[type="tel"], input[type="number"] {
  text-align: center;
  padding: .5vw;
}
