body {
  background: gray;
}


table {
  font-size: 1rem;
  border: solid black;
  border-width: .2rem;
  background-color: white;
  text-align: center;
  margin: auto;
}

td, th {
  border: 1px solid black;
  padding: 1vh;
  text-align: center;
}

input[type='submit'] {
  margin-right: 1vw;
}

.tsub {
  margin: auto;
  margin-top: 1vh;
}

.applicants h2 {
  font-size: 1.3rem;
  text-align: center;
}

.applicants {
  border: 2px solid black;
  width: 40vw;
  text-align: center;
}

.top {
  display: flex;
  flex-direction: column;
}

.employees{
  margin-left: 60vw;
  margin-top: -22vh;
  border: 2px solid black;
  width: 30vw;
}

.employees h2 {
  font-size: 1.3rem;
  text-align: center;
}

.scroll {
  height: 30vh;
  overflow-x: auto;
}
.employees input[type="submit"]{
  margin-left: 12vw;
  margin-top: 2vh;
}
