<div class="bg"></div>
<form action="/apply" method="post">
  <input type="text" name="name" placeholder="Full Name">
  <input type="password" name="ssn" placeholder="Social Security Number">
  <input type="number" name="age" placeholder="Age">
  <input type="tel" name="phone" placeholder="Phone Number">
  <input type="submit" value="Apply" class="button">
</form>
