<div class="block">
  <h2>Change Block</h2>
  <form action="/block" method="post">
    <input type="text" name="block" placeholder="Enter Block #">
    <input type="submit" value="Submit" class="button">
  </form>
</div>
