<div class="bg"></div>


<div class="schedule">
  <h2>Schedule Appointment</h2>
  <form action="/schedule" method="post">
    <input type="text" name="name" placeholder="Visitor Name">
    <input type="text" name="id" placeholder="Prisoner ID">
    <input type="submit" value="Submit" class="button">
  </form>
</div>
